// NAVBAR

// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);
  
      // stylelint-disable-next-line scss/selector-no-union-class-name
      &#{$infix} {
        @include media-breakpoint-up($next) {
          flex-wrap: nowrap;
          justify-content: flex-start;
  
          .navbar-nav {
            flex-direction: row;
  
            .dropdown-menu {
              position: absolute;
            }
  
            .nav-link {
              padding-right: var(--#{$prefix}navbar-nav-link-padding-x);
              padding-left: var(--#{$prefix}navbar-nav-link-padding-x);
            }
          }
  
          .navbar-nav-scroll {
            overflow: visible;
          }
  
          .navbar-collapse {
            display: flex !important; // stylelint-disable-line declaration-no-important
            flex-basis: auto;
          }
  
          .navbar-toggler {
            display: none;
          }
  
          .offcanvas {
            // stylelint-disable declaration-no-important
            position: static;
            z-index: auto;
            flex-grow: 1;
            width: auto !important;
            height: auto !important;
            visibility: visible !important;
            background-color: transparent !important;
            border: 0 !important;
            transform: none !important;
            @include box-shadow(none);
            @include transition(none);
            // stylelint-enable declaration-no-important
  
            .offcanvas-header {
              display: none;
            }
  
            .offcanvas-body {
              display: flex;
              flex-grow: 0;
              padding: 0;
              overflow-y: visible;
            }
          }
        }
      }
    }
  }



// Tamaño de fuente
$tamanio-fuente: 20px;

// Párrafo
p {
  font-size: $tamanio-fuente;
  color: #d6d6d6;
  background-color: $color-fondo;
  padding: 10px;
  border-radius: 5px;
  
  
}

// Color del encabezado
$color-h1: #570a01;

// Tamaño de fuente del encabezado
$tamanio-fuente-h1: 36px;

// Encabezado h1
h1 {
  font-size: $tamanio-fuente-h1;
  color: $color-h1;
  text-transform: uppercase;
  margin-bottom: 20px;
  
  // Sombra al texto
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
  
}

// main

$color-mode-type: data;

@include color-mode(dark) {
  .element {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
  }
}





// Color del encabezado h2
$color-h2: #3498db;

// Tamaño de fuente del encabezado h2
$tamanio-fuente-h2: 24px;

// Encabezado h2
h2 {
  font-size: $tamanio-fuente-h2;
  color: $color-h2;
  font-weight: bold; 
  margin-bottom: 10px; 
  text-transform: uppercase; 
  
     &:hover {
      text-decoration: underline; 
    }
  }

  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

  



  @import "../node_modules/bootstrap/scss/bootstrap.scss";

